.c_col {
  td {
    padding: 10px;
    text-align: center;
  }
}

.b_col {
  td {
    padding: 10px;
    text-align: center;
  }
}

.matrix {
  td {
    padding: 10px;
    text-align: center;
  }
}

.delta {
  td {
    padding: 10px;
    text-align: center;
  }
}

.table {
  margin-top: 40px;
  margin-bottom: 40px;
  border: 1px solid white;
}
