.numOfVariables {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.numOfConstraints {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.constraint {
  margin-top: 20px;
  margin-bottom: 20px;
}
